<footer>
    <div class="top-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="text-center">
                        <h3>LOCATION</h3>
                        <p>2215 John Daniel Drive</p>
                        <p>Clark, MO 65243</p>
                    </div>
                </div>
                <!---->
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="text-center">
                        <h3>AROUND THE WEB</h3>
                        <ul>
                            <li class="mx-1"><a href="#"><i class="fa-brands fa-facebook mx-1 icon"></i></a></li>
                            <li class="mx-1"><a href="#"><i class="fa-brands fa-twitter mx-1 icon"></i></a></li>
                            <li class="mx-1"><a href="#"><i class="fa-brands fa-linkedin-in mx-1 icon"></i></a></li>
                            <li class="mx-1"><a href="#"><i class="fa-solid fa-globe mx-1 icon"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!---->
                <div class="col-lg-4 col-md-6 col-6">
                    <div class="text-center">
                        <h3>ABOUT FREELANCER</h3>
                        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <div class="bottom-footer">
        <p class="text-center">Copyright © Your Website 2021</p>
    </div>
</footer>