<div class="h-div">
    <div class="text-center">
        <app-pagetitle [_pageTitle]="_pageTitle"></app-pagetitle>
        <div class="gallary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/poert1.png" class=" d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/poert1.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>

                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/port2.png" class="d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/port2.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>
                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/port3.png" class="d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/port3.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>
                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/poert1.png" class=" d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/poert1.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>

                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/port2.png" class="d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/port2.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>
                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-30">
                        <div class="gallary-col position-relative">
                            <!--================ Gallery Item ================-->
                            <a>
                                <img src="../../assets/images/port3.png" class="d-block w-100 main-image" alt="">
                            </a>
                            <div class=" icon-plus w-100 top-0 h-100 d-flex justify-content-center align-items-center">
                                <a href="../../assets/images/port3.png" class="gallery-item" data-fancybox="gallery">
                                    <i class="text-white fa-solid fa-plus fa-6x"></i>
                                </a>
                            </div>
                            <!--================ End of Gallery Item ================-->
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div>
</div>