.gallary
{
    padding: 50px 0;
}
.gallary-col .icon-plus 
{
    position: absolute;
    background-color: #1abc9ce6;
    opacity: 0;
    cursor: pointer;
    transition: .6s opacity;
}
.gallary-col .icon-plus:hover {
    opacity: 1;
}
.gallary-col img
{
    border-radius: .5rem;
}