/* You can add global styles to this file, and also import other style files */
.white-color
{
    color: #fff !important;
}
.mr-3
{
    margin-right: 1rem !important;
}
.ml-3
{
    margin-left: 1rem !important;
}
.h-div
{
    margin-top: 92px;
    min-height: calc(100vh - 112px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.position-relative {
    position: relative!important;
}
.mb-30
{
    margin-bottom: 30px;
}