.home-page
{
    background: #1abc9c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-box-item img
{
    width: 250px;
    display: block;
    margin: 0 auto;
}
.home-box-item p
{
    color: #fff;
    text-align: center;
}