.line
{
    height: 4px;
    width: 80px;
    /* background-color: white; */
}
h2
{
    padding-top: 1.5rem!important;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: capitalize;
}